<div id='delModal' class='modal'>
    <div class='modal-content'>
        <p>Are you sure you want to delete this?</p>
    </div>
    <div class='modal-footer'>
        <button onclick='delUser()' class='btn blue waves-effect'>Sim</button>
        <button onclick='dismissModal()' class='btn blue waves-effect'>Não</button>
    </div>
</div>