{{!-- <!-- Trigger/Open The Modal -->
<button id="myBtn">Open Modal</button> --}}

<!-- The Modal -->
{{!-- <div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <p>Tem certeza que quer eliminar este utilizador?</p>
    <button id='del' onclick='delUser()'>Eliminar</button>
    <button id='cancel' onclick='hideModal()'>Cancelar</button>
  </div>

</div> --}}
<div id='delModal' class='modal'>
    <div class='modal-content'>
        <p>Are you sure you want to delete this?</p>
    </div>
    <div class='modal-footer'>
        <button onclick='delUser()' class='btn blue waves-effect'>Sim</button>
        <button onclick='dismissModal()' class='btn blue waves-effect'>Não</button>
    </div>
</div>