{{!-- <!-- Trigger/Open The Modal -->
<button id="myBtn">Open Modal</button> --}}

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <p>Tem certeza que quer eliminar este utilizador?</p>
    <button id='del' onclick='delUser()'>Eliminar</button>
    <button id='cancel' onclick='hideModal()'>Cancelar</button>
  </div>

</div>