    </v-app>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
<script>
    new Vue({ 
        el: '#app',
        data: {
            show1: false,
            navbar: false
        },
        methods: {
            submit(){
                document.forms[0].submit();
            },
            load(data){
                location.pathname = data;
            }
        }
    })
</script>