{{!-- DROP UP --}}
<div class='drop-btn hide-print' onclick='toggleSlide()'></div>
<ul id='slider' class='drop-content hide hide-print'>
    <li><a href="/pessoas/indb?page=1">BD</a></li>
    <li><a href="/inscrever">Inscrever</a></li>
    <li><a href="/">Painel</a></li>
    {{#if admin }}
    <li><a href="/formations">Formações</a></li>
    <li><a href="/admin">Admin</a></li>
    {{/if}}
</ul>