<ul id='slide-out' class='sidenav hide-print'>
    <li><a href="/"><i class='fas fa-cog'></i>Painel</a></li>
    <li><a href="/pre_inscritos"><i class='fas fa-address-book'></i>Pré Incritos</a></li>
    <li><a href="/pessoas/indb"><i class='fas fa-database'></i>BD</a></li>
    {{#if avaliador }}
    {{else}}
    <li><a href="/inscrever"><i class='fas fa-user-plus'></i>Inscrever</a></li>
    {{/if}}
    {{#if admin }}
    <li><a href="/formations"><i class='fab fa-discourse'></i>Formações</a></li>
    <li><a href="/admin"><i class='fas fa-user-lock'></i>Admin</a></li>
    {{/if}}
    <li><a href="/logout"><i class='fas fa-sign-out-alt'></i>Sair</a></li>
</ul>