<ul class='navbar hide-print'>
    <li><a href="/pessoas/indb">BD</a></li>
    <li><a href="/inscrever">Inscrever</a></li>
    <li><a href="/">Painel</a></li>
    {{#if admin }}
    <li><a href="/formations">Formações</a></li>
    <li><a href="/admin">Admin</a></li>
    {{/if}}
</ul>