<img class='search-icon' src="/img/search-solid.svg" alt="Procurar">
<form action="" class='search'>
    <input type="text" class='search-box'>
    <input type="submit" value='' id='search-btn'>
</form>