{{> head }}

<body>
    {{> header }}
    {{> navbar }}
    {{# if person}}
    <div class='card card-admin'>
        <table class='tbl'>
            <thead>
                <tr>
                    <th>Nome de Utilizador</th>
                    <th>Grupo</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {{# each person }}
                <tr>
                    <td>{{ this.username }}</td>
                    <td>{{ this.group }}</td>
                    <td>
                        <i class='fas fa-trash modal-trigger' data-target='delModal' user-id='{{ this.id }}' path='/delete_user/'></i>
                    </td>
                </tr>
                {{/ each }}
            </tbody>
        </table>
    </div>
    {{else}}
    <p class='rep'>Ainda sem nenhum utilizadores</p>
    {{/if}}
    <i class='fas fa-plus-circle add-btn' onclick='loadPage("/create_user")'></i>
    {{> delete_modal }}
    {{>footer}}
</body>

</html>