{{> head }}
    <body>
        {{> header }}
        {{# error }}
        <p class='error'>{{ param }}:{{ msg }}</p>
        {{/ error }}
        <form action="/login" method='post'>
            <label>Nome de Utilizador:</label>
            <input name='username' placeholder='Nome de Utilizador' {{#if form_data }}value={{form_data.username}}{{/if}}><br>
            <label>Senha:</label>
            <input type='password' name='password' placeholder='Senha' {{#if form_data }}value={{form_data.password}}{{/if}}><br>
            <input type='submit' value='Entrar'>
        </form>
    </body>
</html>
