{{> head }}
    <body>
        {{> header }}
        {{# error }}
            <v-alert value=true color='error' dismissible>
                {{ param }}:{{ msg }}
            </v-alert>
        {{/ error }}
        <v-card width=400 raised>
            <v-form action="/login" method='post'>
                <v-text-field
                    name='username'
                    placeholder='Nome de Utilizador'
                    required
                    {{#if form_data }}value={{form_data.username}}{{/if}}></v-text-field>
                <v-text-field
                    name='password'
                    :append-icon= "show_pass ? 'visibility_off': 'visibility'"
                    @click:append="show_pass = !show_pass"
                    :type="show_pass ? 'text' : 'password'"
                    placeholder='Senha'
                    {{#if form_data }}value={{form_data.password}}{{/if}}></v-text-field>
                <v-btn @click="submit">
                    Entrar
                </v-btn>
            </v-form>
        </v-card>
        {{> footer }}
    </body>
</html>
