{{> head }}
    <body>
        {{# error }}
        <p class='card red card-error'>{{ param }}:{{ msg }}</p>
        {{/ error }}
        <div class="row flex-center">
        <div class='card card-login col l6 m7 s10 xs10'>
            <form action="/login" method='post'>
                <div class='card-content'>
                    <div class="card-title grey-text">Entrar</div>
                    <div class='input-field'>
                        <label for='username'>Nome de Utilizador</label>
                        <input id='username' type='text' name='username' {{#if form_data }}value={{form_data.username}}{{/if}}>
                    </div>
                    <div class='input-field'>
                        <label for='password'>Senha</label>
                        <input id='password' type='password' name='password' {{#if form_data }}value={{form_data.password}}{{/if}}>
                    </div>
                </div>
                <div class='card-action'>
                    <input class='btn blue' type='submit' value='Entrar'>
                </div>
            </form>
        </div>
        </div>
    </body>
</html>