{{> head }}

<nav>
    <div class="nav-wrapper grey lighten-4 purple-text text-darken-4">
        <img class='brand-logo abc-icon left' src='img/abc_icon.png' alt='Logo'>
        <span style='margin-left: 80px'><strong>AFRICA BUSINESS</strong> Consulting</span>
    </div>
</nav>

<div class="container">
    <h4>A sua pré-inscrição foi efectuada com sucesso!</h4>
    <h6>O seu número do seu processo é o <b>{{process.id}}</b>. Ao falar connosco, por favor, tenha esse número consigo. Para completar a sua inscrição, por favor, dirije-se ao nosso escritório ou entre em contacto connosco.</h6>
    <ul>
        <li><b>Contacto:</b> +238 356 0200 / 921 0115 / 972 9853</li>
        <li><b>Email:</b> geral@africabusinessconsult.com</li>
        <li><b>Endereço:</b><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3855.219799093206!2d-23.510333785785658!3d14.924842789596617!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x935991dd4eb82ed%3A0x42fda7cb17d390e3!2sAFRICA+BUSINESS+CONSULTING!5e0!3m2!1sen!2scv!4v1542296802446" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe></li>
    </ul>
</div>