{{> head }}

<nav>
    <div class="nav-wrapper grey lighten-4 purple-text text-darken-4">
        <img class='brand-logo abc-icon left' src='img/abc_icon.png' alt='Logo'>
        <span style='margin-left: 80px'><strong>AFRICA BUSINESS</strong> Consulting</span>
    </div>
</nav>

{{# error }}
<p class='card red card-error'>{{ param }}:{{ msg }}</p>
{{/ error }}

{{# success }}
<p class='card green card-error'>{{ msg }}</p>
{{/success}}

<div class="row flex-center">
    <div class="col s7 xs12 no-margin">
        <div class="card">
            <form method='post' action='/pre_registration'>
                <div class="card-content">
                    <div class="card-title grey-text">Formulário de Pré Inscrição</div>
                    <div class="input-field">
                        <input id="name" name='name' type="text" required>
                        <label for="name">Nome</label>
                    </div>
                    <div class="input-field">
                        <input id="address" name='address' type="text">
                        <label for="addres">Morada</label>
                    </div>
                    <div class="input-field">
                        <input id="phone" name='phone' type="text" required>
                        <label for="phone">Contacto</label>
                    </div>
                    <div class="input-field">
                        <input id="email" name='email' type="email" required>
                        <label for="email">Email</label>
                    </div>
                </div>
                <div class="card-action">
                    <button type='submit' class="btn waves-effect waves-light grey">Pre Inscrever</button>
                </div>
            </form>
        </div>
    </div>
</div>