html, body{
    margin: 0;
    height: 90%;
    font-family: sans-serif;
}

header {
    color: lightblue;
}

header h1 {
    padding-left: 20px;
    margin: 10px;
}

.ruler {
    width: 40%;
    height: 2px;
    background-color: rgba(54, 162, 235, .5);
}

.tbl {
    border-collapse: collapse;
    background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(54, 162, 235, 0.2));
    margin: 0 auto;
    margin-top: 50px;
    color: rgba(15, 15, 168, 0.678);
}

.tbl, .tbl th, .tbl td {
    border: 2px solid rgba(54, 162, 235, .5);
}

.tbl th, .tbl td {
    padding: 15px;
    text-align: center;
}

.tbl a {
    text-decoration: none;
    color: rgba(15, 15, 168, 0.678);
}

.chart {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    margin-top: 50px;
}

form {
    width: 30%;
    margin: 0 auto;
    margin-top: 50px;
    color: darkblue;
}

form label {
    display: inline-block;
    width: 46%;
    margin: 10px;
}

form input {
    border: 1px solid rgba(54, 162, 235, .5);
    padding: 5px;
    width: 169px;
}

fieldset {
    width: 90%;
    border: 1px solid rgba(54, 162, 235, .5);
    margin-bottom: 15px;
    margin-top: -5px;
}

fieldset legend {
    padding: 10px;
}

fieldset label, fieldset input {
    width: auto;
    margin: 5px;
}

form input[type='submit'], .btn {
    width: 97%;
    background-color: rgba(54, 162, 235, .5);
    color: white;
    font-weight: bolder;
    padding: 10px;
}

.error {
    background-color: rgba(240, 128, 128, 0.7);
    width: 25%;
    margin: 15px auto -43px auto;
    padding: 5px;
    font-weight: 500;
    color: white;
    text-align: center;
}

.drop-btn {
    position: fixed;
    right: 50px;
    bottom: 30px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-image: url('/img/arrow-alt-circle-up-regular.svg');
}

.drop-content {
    position: fixed;
    right: 20px;
    bottom: 60px;
    animation-name: slide;
    animation-duration: 0.3s;
}

.drop-content li {
    margin-top: 10px;
    list-style: none;
}

.drop-content a {
    text-decoration: none;
    color: rgba(54, 162, 235, .5);
}

.hide {
    display: none;
}

.dtls {
    width: 55%;
    margin: 0 auto;
    margin-top: 50px;
    border: 1px solid rgba(54, 162, 235, .5);
    border-radius: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.dtls li {
    list-style: none;
    margin: 10px;
    color: cadetblue;
}

.dtls b {
    display: inline-block;
    width: 180px;
    color: cadetblue;
    border-bottom: 1px dashed lightblue;
}

.dtls .btn {
    display: inline-block;
    width: 25%;
    border: none;
    margin: 20px 5px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}

.edit {
    width: 58%;
    margin: 0 auto;
    margin-top: 50px;
    border: 1px solid rgba(54, 162, 235, .5);
    border-radius: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.edit li {
    list-style: none;
    margin: 1.7px 50px;
    color: cadetblue;
    width: 100%;
}

.edit b {
    display: inline-block;
    width: 180px;
    border-bottom: 1px dashed lightblue;
}

.edit .btn {
    display: inline-block;
    width: 30%;
    border: none;
    margin: 20px 5px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}

.edit select {
    width: 22.8%;
    padding: 3px;
    margin-left: -4px;
    border: 1px solid lightblue;
}

.edit input[type='submit'] {
    padding: 9.6px;
    font-weight: 800;
    width: 32.5%;
}

.edit .eb {
    margin-left: 40px;
}

.avaliar {
    width: 58%;
}

.avaliar .personal_data label{
    width: 92px;
}

.avaliar .personal_data input {
    width: 100px;
}

.avaliar fieldset label {
    width: 70%;
}

.avaliar .num {
    position: relative;
    left: 512px;
}

.avaliar textarea {
    resize: none;
    padding: 10px;
    border: 1px solid lightblue;
}

.avaliar input[type='submit'] {
    margin-top: 20px;
}

.info {
    position: fixed;
    right: 100px;
    bottom: 31px;
    width: 10px;
}

#info-content {
    position: fixed;
    right: 100px;
    bottom: 50px;
    color: rgba(54, 162, 235, .5);
    animation-name: slide;
    animation-duration: 0.5s;
}

.add-btn {
    position: fixed;
    right: 90px;
    bottom: 30px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.logout-btn {
    position: fixed;
    right: 130px;
    bottom: 30px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.avaliar_edit_btn {
    margin-top: 30px;
}

.avaliar_edit_btn input[type='submit'], .avaliar_edit_btn a {
    display: inline-block;
    width: 43%;
    margin: 0 5px;
}

.avaliar_edit_btn a {
    text-align: center;
    text-decoration: none;
}

.rep {
    width: 100%;
    text-align: center;
    color: rgba(54, 162, 235, .5);
    font-weight: bolder;
    font-size: 1.5em;
}

.icon {
    width: 20px;
    cursor: pointer;
}

#shops {
    border: 1px solid lightblue;
    padding: 5px;
    margin-left: 5px;
    margin-right: 4px;
    width: 113px;
}

.dataTables_wrapper {
    width: 60%;
    margin: 0 auto;
    margin-top: 50px;
}

.dataTable, .display {
    background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(54, 162, 235, 0.2));
    color: rgba(15, 15, 168, 0.678);
    border: 1px;
    border-collapse: collapse;
}

.dataTables_wrapper td, .dataTables_wrapper th {
    border: 1px solid lightblue;
}

.dataTables_filter {
    margin-bottom: 10px;
}

.dataTables_filter * {
    color: darkblue;
}

.dataTables_filter input[type='search'] {
    border: 1px solid lightblue;
}

@keyframes slide {
    from {
        height: 0;
        opacity: -5;
    }
    to {
        height: 50px;
        opacity: 1;
    }
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-image: linear-gradient(white, lightblue);
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 2px solid rgba(54, 162, 235, .5);
    width: 30%; /* Could be more or less, depending on screen size */
    animation: apear .5s;
}

@keyframes apear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#del, #cancel {
    border: none;
    padding: 5px;
    background-color: rgba(54, 162, 235, .5);
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.formation-form {
    width: 60%;
}

.formation-form input[type='submit'] {
    width: 93.5%;
}