html, body{
    margin: 0;
    height: 90%;
    font-family: sans-serif;
}

header {
    color: #595959;
}

header h1 {
    padding-left: 20px;
    margin: 10px;
}

.ruler {
    width: 40vw;
    height: 2px;
    background-color: #5EB804;
}

.chart {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    margin-top: 50px;
}

form {
    width: 100%;
    margin: 0 auto;
    margin-top: 30px;
}

fieldset {
    width: 100%;
    border: 1px solid #aaa;
    margin-bottom: 15px;
    margin-top: -5px;
}

fieldset legend {
    padding: 10px;
}

fieldset label, fieldset input {
    width: auto;
    margin: 5px;
}

.error {
    background-color: rgba(240, 128, 128, 0.7);
    width: 25%;
    margin: 15px auto -43px auto;
    padding: 5px;
    font-weight: 500;
    color: white;
    text-align: center;
}

.drop-btn {
    position: fixed;
    right: 50px;
    bottom: 30px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-image: url('/img/arrow-alt-circle-up-regular.svg');
}

.drop-content {
    position: fixed;
    right: 20px;
    bottom: 60px;
    animation-name: slide;
    animation-duration: 0.3s;
}

.drop-content li {
    margin-top: 10px;
    list-style: none;
}

.drop-content a {
    text-decoration: none;
    color: rgba(54, 162, 235, .5);
}

.hide {
    display: none;
}

.card-details {
    width: 51.5%;
    padding: 10px 20px 10px 20px;
    margin: 0 auto;
    margin-top: 10px;
}

.dtls li {
    list-style: none;
    margin: 10px;
    color: #595959;
}

.dtls b {
    display: inline-block;
    width: 180px;
    color: #595959;
    border-bottom: 1px dashed #2196F3;
}

.card-edit {
    width: 32%;
    padding: 0 30px 0 30px;
    margin: 0 auto;
}

.avaliar {
    width: 58%;
}

.avaliar fieldset label {
    display: inline-block;
    width: 64%;
}

.avaliar .num {
    position: relative;
    left: 512px;
}

.avaliar textarea {
    resize: none;
    padding: 10px;
    border: 1px solid #aaa;
}

.info {
    position: fixed;
    right: 60px;
    bottom: 30px;
    font-size: 2.4em;
    color: #2196F3;
}

#info-content {
    position: fixed;
    right: 30px;
    bottom: 50px;
    color: #595959;
    animation-name: slide;
    animation-duration: 0.5s;
}

.add-btn {
    position: fixed;
    right: 60px;
    bottom: 40px;
    cursor: pointer;
    color: #2196F3;
}

.logout-btn {
    position: fixed;
    right: 130px;
    bottom: 30px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.rep {
    width: 100%;
    text-align: center;
    color: #595959;
    font-weight: bolder;
    font-size: 1.5em;
}

.icon {
    width: 20px;
    cursor: pointer;
}

@keyframes slide {
    from {
        height: 0;
        opacity: -5;
    }
    to {
        height: 50px;
        opacity: 1;
    }
}


/* .modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
} */


/* .modal-content {
    background-color: #F2F2F2;
    margin: 15% auto;
    padding: 20px;
    border: 2px solid #5EB804;
    width: 30%; 
    animation: apear .5s;
} */

@keyframes apear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#del, #cancel {
    border: none;
    padding: 5px;
    background-color: #5EB804;
    color: #F2F2F2;
    font-weight: bold;
}

#del:hover, #cancel:hover {
    background-color: #F56915;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.formation-form {
    width: 45%;
}

.formation-form fieldset input[type='number'] {
    width: 90%;
}

.navbar {
    position: fixed;
    left: 0;
    top: 9.5vh;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 120px;
    background-color:#5EB804;
    border-right: 2px solid #5EB804;
    height: 90.5vh;
    font-weight: bold;
}

.navbar li {
    padding: 5px;
}

.navbar li:hover {
    background-color: #F56915;
}

.navbar a {
    display: block;
    color: #F2F2F2;
    padding: 8px 16px;
    text-decoration: none;
}

.column {
    color: #595959;
}

textarea {
    resize: none;
}

.group {
    padding: 5px;
    width: 181px;
    border: 1px solid #5EB804;
    color: #595959;
}

.test {
    color: #F56915;
    color: #1E5C01;
    color: #F2F2F2;
    color: #5EB804;
    color: #595959;
}

.brand-logo {
    margin-left: 10px;
}

.fa-bars {
    margin-left: 10px;
    cursor: pointer;
}

.card-login {
    width: 400px;
    margin: 0 auto;
}

.card-login form {
    width: 100%;
}

.card-tbl {
    width: 70%;
    margin: 0 auto;
    margin-top: 30px;
}

.card-tbl td, .card-tbl th {
    text-align: center;
}

.card-list {
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;
    padding: 30px;
}

.card-register {
    width: 32%;
    padding: 10px 40px 20px 40px;
    margin: 10px auto 0 auto;
}

.dataTables_wrapper {
    width: 60%;
    margin: 0 auto;
}

.dataTables_filter label {
    font-size: 1rem;
}

.dataTables_filter input[type='search']{
    height: 1rem;
    width: 70%;
    margin: 30px 0 30px 10px;
}

table.dataTable {
    border-collapse: collapse;
    border: 1px solid #ddd;
    box-shadow: 0 2px 3px 1px #ccc;
}

table.dataTable thead th {
    border-bottom: none;
    color: #039be5;
}

.card-payment {
    width: 30%;
    padding: 0px 30px 10px 30px;
    margin: 0 auto;
}

.fa-plus-circle {
    font-size: 2.4em;
}

.aligned .inline{
    margin: -70px 40px 0 0;
}

.card-avaliado {
    width: 60%;
    margin: 10px auto 0 auto;
    padding: 0 10px 0 10px;
}

.card-add-formation {
    width: 40%;
    margin: 0 auto;
}

.card-admin {
    width: 40%;
    padding: 0 10px 0 10px; 
    margin: 10px auto 0 auto;
}